<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="se.sanitarium.mobile.resolution-test"
        version="1.0.0">
    <name>Resolution test</name>
    <description></description>
    <author email="ba@sanitarium.se" author="Björn Andersson">
        Björn Andersson
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="phonegap-version" value="2.9.0" />

</widget>
